# IRC Settings
NSPASS="IRC NickServ password goes here"
HOST="irc.yourircnetworkhere.com"
PORT="6697"
# enable SSL connection by default, uncomment the line below and
# comment/remove SECURE="True" to switch to an insecure connection
SECURE="True"
USER="v4v-relay"
REALNAME="v4v-relay"
NICK="v4v-relay"
CHANNELS="#channel"
# Command prefix for bot commands (default is backtick `)
COMMAND_PREFIX="`"

# Webserver Settings
WEBPORT="7777"
# Make sure Helipad is using the same AUTHTOKEN as what is below
AUTHTOKEN="unique-super-secret-token"

# URL Shortener Settings
# v4v-relay requires the YOURLS URL shortener. https://github.com/YOURLS
YOURLSAPIURL="https://YourSelfHostedYourlsInstance.com/yourls-api.php"
SHORTURL="YOURLS URL shortener API key here"

# The Split Kit Settings
URL="websocket URL that thesplitkit.com provides"

# Bot Settings
ADMINS="comma separated list of IRC nicknames to administer the bot"
TEXTTOSTRIP="any string you want removed from websocket data by default"
# Provide logging level. Example debug, default=warning
LOGLEVEL="warning"
ENABLEBOOSTBOT="true"